 .gallery {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
 }

 .gallery-item {
     flex: 0 0 calc(33.33% - 10px);
 }

 .gallery-link {
     display: block;
     text-decoration: none;
     color: inherit;
 }

 .gallery-image {
     width: 100%;
     height: auto;
 }


 .basicLightbox {
     background: rgba(42, 40, 41, 1) ;
    display: flex;
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
 }

 /* Стилі для модального вікна */
 .basicLightbox .modal {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
  
 }

 /* Стилі для великого зображення */
 .basicLightbox .modal-image {
     max-width: 100%;
     max-height: 95%;
 }

